.html_css {
  background-color: #dee7ec;
  color: #889eab;
}

header {
	background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),url(white.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.link {
	marker-left: 550px;
}

button {
	font-size: 30px;
	margin-bottom: 450px;
	margin-left: 580px;
}

/**/
button {
	font-size: 30px;
	margin-bottom: 240px;
	margin-left: 60px; 
}


